@page "/registrations"
@model ConMan.Pages.RegistrationsModel

@{
    ViewData["Title"] = "Регистрации";
}

@if (TempData["ErrorMessage"] != null)
{
<div id="notification" class="alert alert-danger">
    @TempData["ErrorMessage"]
</div>
}

<h2>Список регистраций</h2>
<p><a href="/registrations/create">Добавить регистрацию</a></p>
<table style="width:100%">
    <tr>
        <th>Ид</th>
        <th>Название события</th>
        <th>Имя участника</th>
        <th>Эл. почта участника</th>
        <th>Номер тел. участника</th>
        <th>Статус</th>
        <th>Действия</th>
    </tr>
    @foreach (var reg in Model.RegistrationsDb)
    {
        <tr>
            <td>@reg.Id</td>
            <td>@reg.Event.Name</td>
            <td>@reg.Participant.Name</td>
            <td>@reg.Participant.Email</td>
            <td>@reg.Participant.Phone</td>
            <td>@reg.Status.StatusName</td>
            <td>
                <a href="/registrations/edit/@reg.Id" class="btn btn-primary">Изменить</a>
                <form asp-page-handler="delete" method="post" style="display:inline;">
                    <input type="hidden" name="id" value="@reg.Id" />
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить эту регистрацию?')">Удалить</button>
                </form>
            </td>
        </tr>
    }
</table>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var notification = document.getElementById("notification");
            if (notification) {
                setTimeout(function () {
                    notification.style.display = "none";
                }, 5000); // Скрыть уведомление через 5 секунд
            }
        });
    </script>
    <style>
        #notification {
            position: fixed;
            top: 10px;
            right: 10px;
            padding: 10px 20px;
            z-index: 1000;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
    </style>
}